@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Umbraco.Web
@using UmbracoFood.Controllers.Surface
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<div ng-controller="OrdersController">
    {{flashMessage}}
    {{flashMessage.get()}}
    <div class="alert" ng-show="flashMessage.get().length">
        <b>Alert!</b><br />
        {{flashMessage.get()}}
    </div>

    <h2>
        Zamówienia
        <a href="@Umbraco.NiceUrl(1093)" type="button" class="btn btn-success ">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Restauracja</th>
                <th>Zamawiam za</th>
                <th>Dostawa o</th>
                <th>Ilość posiłków</th>
                <th>Zamawiajacy</th>
                <th>Status</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody ng-model="orders" ng-cloak>
            <tr ng-repeat="order in orders">
                <td>{{order.RestaurantName}}</td>
                <td>
                    <div ng-if="order.StatusId == status.InProgress && order.Countdown">
                        <timer countdown="order.Countdown" max-time-unit="'hour'" interval="1000"><strong>{{hhours}}:{{mminutes}}:{{sseconds}}</strong></timer>
                        ({{order.Deadline | date: 'HH:mm'}})
                    </div>
                    <div ng-if="order.StatusId != status.InProgress">
                        (chodząca kaczka)
                    </div>
                </td>
                <td>{{(order.EstimatedDeliveryTime | date: 'HH:mm') || '---'}}</td>
                <td>{{order.MealsCount}}</td>
                <td>{{order.Owner}}</td>
                <td>{{order.StatusName}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-primary" href="@Umbraco.NiceUrl(1094)?id={{order.Id}}" ng-if="order.StatusId == status.InProgress">Dolacz do zamowienia</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/Orders")


@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


