@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Umbraco.Web
@using UmbracoFood.Controllers.Surface
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<div ng-controller="RestaurantsController">
    <h2>
        Restauracje
        <a href="@Umbraco.NiceUrl(1058)" type="button" class="btn btn-success ">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Menu url</th>
                <th>Telefon</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody ng-model="restaurants">

            <tr ng-repeat="restaurant in restaurants">
                <td>{{restaurant.Name}}</td>
                <td><a ng-href="{{restaurant.MenuUrl}}" target="_blank">Menu</a></td>
                <td>{{restaurant.Phone}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="@Umbraco.NiceUrl(1075)?id={{restaurant.Id}}">Edytuj</a>
                        <a type="button" class="btn btn-default">Usun</a>
                        <a href="EdycjaZamowienia.html" type="button" class="btn btn-default">Zamow</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/Restaurants")
