@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
  <h2>Zamowienia
      <a href="@Umbraco.NiceUrl(1058)" type="button" class="btn btn-success ">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </a>
  </h2>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Restauracja</th>
        <th>Do kiedy?</th>
        <th>Ile?</th>
        <th>Zamawiajacy</th>
        <th>Status</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alizze</td>
        <td>11:30</td>
        <td>8 osób</td>
        <td>Jacek</td>
        <td>W trakcie zamawiania</td>
        <td><a type="button" class="btn btn-primary" href="@Umbraco.NiceUrl(1067)">Dolacz do zamowienia</a></td>
      </tr>
      <tr>
        <td>Surf</td>
        <td>12:30</td>
        <td>4 osoby</td>
        <td>Julian</td>
        <td>W drodze</td>
        <td></td>
      </tr>
      <tr>
        <td>Panorama</td>
        <td>12:00</td>
        <td>3 osoby</td>
        <td>Weronika</td>
        <td>W kuchni</td>
        <td></td>
      </tr>
    </tbody>
  </table>