@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

        <h2>Dodaj restauracje</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Nazwa</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" id="inputEmail3" placeholder="Nazwa">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Telefon</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" id="inputEmail3" placeholder="Telefon">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Strona internetowa</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" id="inputEmail3" placeholder="Url">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Adres menu</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" id="inputEmail3" placeholder="Url">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="index.html" type="submit" class="btn btn-default">Zapisz restauracje</a>
                </div>
            </div>
        </form>