@using System.Web.Optimization
@using UmbracoFood.Controllers.Surface
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h2>Dodaj restauracje</h2>

@Html.Action("AddRestaurant", "RestaurantSurface", new { area = "UmbracoFoodPlugins" })
