@inherits UmbracoViewPage<UmbracoFood.App_plugins.UmbracoFoodPlugins.Models.EditRestaurantPageModel>

@{
    Layout = "Master.cshtml";
}

<h2>Edytuj restauracje</h2>

@Html.Action("EditRestaurant", "RestaurantSurface", new { area = "UmbracoFoodPlugins", id= Model.Id })