@using System.Web.Optimization
@inherits UmbracoViewPage<UmbracoFood.App_plugins.UmbracoFoodPlugins.Models.HomePageModel>

@{
    Layout = "Master.cshtml";
}

<div ng-controller="HomePageController"
     ng-init="showMessage('@Model.Message')">

    @Html.Action("Orders", "OrderSurface", new { area = "UmbracoFoodPlugins" })
    @Html.Action("Restaurants", "RestaurantSurface", new { area = "UmbracoFoodPlugins" })
</div>





@Scripts.Render("~/Scripts/HomePage")